// Typography
$font-stack: Helvetica, Arial, sans-serif;
$font-size: 1em;
$font-weight: 400;
$line-height: 1.5;

// Colors | Dark as Default
$text: snow;
$accent: #febe99;
$secondary: #ccc;
$dark-primary: #191414;
$dark-secondary: #333;


//! error pages, make notifications sticky
// the form 
// search/sort spacing on form

// and the album detail page?

* {
  margin: 0;
  padding: 0;
  // border: 1px solid lightskyblue;
}

:root {
  font-family: $font-stack;
  font-size: $font-size;
  font-weight: $font-weight;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text;
  line-height: $line-height;
  background-color: $dark-primary;
  display: block;
}

// Header Styles
header {
  margin: 0 0 25px 21px;
  padding: 0;
  display: flex;
  flex-direction: row nowrap;
  align-items: end;
  justify-content: start;
  // background-color: cyan;
}

#logo {
  height: 16vh;
  margin: 16px 0 0 0;
  padding: 0;
  // background-color: violet;
}

nav > .nav-link {
  margin-left: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $text;
  // background: yellow;
}

a.active {
  text-underline-offset: 9px;
  text-decoration: underline;
  color: $accent;
}

// Links & Buttons
// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: none;
// }

// a:hover {
//   color: #535bf2;
// }

button {
  margin-top: 12px;
  border-radius: 3px;
  padding: 0.5em .5em;
  font-size: x-small;
  font-weight: 900;
  font-family: inherit;
  background-color: $secondary;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid transparent;
}

button:hover {
  color: $accent;
  background-color: $dark-secondary;
  border: 1px solid $accent;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.err {
  margin-right: 15px;
}

.filter-wrapper {
  margin: 0;
  padding: 0;
  // background-color: limegreen;
}

.filter-button {
  margin: 0 0 0 15px;
  font-size: small;
  letter-spacing: .02em;
}

input {
  width: 250px;
  height: 20px;
  padding: 5px;
  line-height: $line-height;
  border: none;
  border-radius: 3px;
  // background-color: orange;
}

#search-sort {
  height: 40px;
  margin: 0 0 16px 0;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: $dark-secondary;
  border-top: 1px solid $dark-secondary;
  border-bottom: 1px solid $dark-secondary;
  border-radius: 3px;
}

// Body
body {
  margin: 0 16px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-content: center;
  border: none;
}  

main {
  margin: 0 16px;
}  

h1, h2, h5 {
  margin: 0;
  padding: 0;
  // border: none;
}

h1 {
  margin-bottom: 6px;
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
  margin-left: 6px;
  text-transform: uppercase;
  color: $text;
  border: none;
  // background: teal;
}

h5 {
  display: inline;
}

hr {
  margin-bottom: 1em;
  height: 1px;
  background: $dark-secondary;
  border: none;
}

section {
  border: none;
  // background-color: hotpink;
}

// Error Pages
// white-space: pre-wrap;
.err-wrapper {
  margin: 25px 0 0 25px;
}

// Album View
.article-wrapper {
  display: flex;
  flex-flow: row wrap;
  border: none;
  // background-color: darkmagenta;
}

.article-title {
  width: 100%;
  // background-color: darkolivegreen;
  align-items: left;
  justify-content: left;
  display: block;
  border: none;
}

.container-view {
  justify-content: center;
  // background-color: darkblue;
  border: none;
}

.card {
  margin: 1em 1em 1.8em 0;
  margin-bottom: 1.8em;
  display: flex;
  flex-flow: column nowrap;
  // background-color: darkgray;
  // border: none;
}

.card > p {
  border: none;
}

.album-title {
  margin-top: 6px;
  font-size: .67em;
  font-weight: 900;
}

.artist {
  font-size: .65em;
}

.album-art {
  height: 10em;
  width: 10em;
  border: none;
  }

// @media (prefers-color-scheme: dark) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
