// Typography
$font-stack: Helvetica, Arial, sans-serif;
$font-size: 1em;
$font-weight: 400;
$font-bold: 700;
$font-bolder: 900;
$line-height: 1.5;

// Colors | Dark as Default
$text: snow;
$accent: #febe99;
$secondary: #ccc;
$tertiary: turquoise;
$dark-primary: #191414;
$dark-secondary: #333;
$alert: hotpink;
$alert-green: #99c270;


// todo!
// error pages, make notifications sticky
//  style disable buttons to visually cue to user that it is disabled

// form-button - what defines 'isSubmitting'?

// code clean


* {
  margin: 0;
  padding: 0;
  // border: 1px solid lightskyblue;
}

:root {
  max-width: 1080px;
  font-family: $font-stack;
  font-size: $font-size;
  font-weight: $font-weight;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text;
  line-height: $line-height;
  background-color: $dark-primary;
  display: block;
}

// Header Styles
header {
  margin: 0 0 25px 21px;
  padding: 0;
  display: flex;
  flex-direction: row nowrap;
  align-items: end;
  justify-content: start;
}

#logo {
  height: 16vh;
  margin: 16px 0 0 0;
  padding: 0;
}

nav > .nav-link {
  margin-left: 25px;
  font-weight: $font-bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $text;
}

a.active {
  text-underline-offset: 9px;
  text-decoration: underline;
  color: $accent;
}

// Links & Buttons
a {
  color: $tertiary;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $accent;
}

button {
  margin-top: 12px;
  border-radius: 3px;
  padding: 0.5em .5em;
  font-size: x-small;
  font-weight: $font-bolder;
  font-family: inherit;
  background-color: $secondary;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.disabled {
  background-color: #666;
  pointer-events: none;
}

button:hover {
  color: $accent;
  background-color: $dark-secondary;
  border: 1px solid $accent;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.filter-wrapper {
  margin: 0;
  padding: 0;
}

.filter-button {
  margin: 0 0 0 15px;
  font-size: small;
  letter-spacing: .02em;
}

input {
  width: 250px;
  height: 20px;
  padding: 5px;
  line-height: $line-height;
  border: none;
  border-radius: 3px;
}

#search-sort {
  height: 40px;
  margin: 0 0 16px 0;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $dark-secondary;
  border-bottom: 1px solid $dark-secondary;
  border-radius: 3px;
}

// Body
body {
  margin: 0 16px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-content: center;
  border: none;
}

main {
  margin: 0 16px;
}

.spacer {
  height: 48px;
}

h1, h2, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 6px;
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
  margin-left: 6px;
  text-transform: uppercase;
  color: $text;
  border: none;
}

h5 {
  display: inline;
}

hr {
  margin-bottom: 1em;
  height: 1px;
  background: $dark-secondary;
  border: none;
}

section {
  border: none;
}

// Error Pages
.err-wrapper {
  margin: 25px 0 0 25px;
}

.err {
  margin-right: 15px;
}

.alert-wrapper {
  margin-top: 6px;
  margin-left: 6px;
  padding: 6px;
  font-size: small;
  color: $alert-green;
  font-weight: $font-bold;
  white-space: pre-wrap;
  border: 1px solid $alert-green;
  border-radius: 3px;
  display: inline-block;
}

.alerts {
  margin-left: 6px;
  padding: 6px;
  font-size: small;
  color: $alert;
  font-weight: $font-bold;
  white-space: pre-wrap;
  border: 1px solid $alert;
  border-radius: 3px;
  display: inline-block;
}

.alert-green {
  margin-left: 6px;
  padding: 6px;
  font-size: small;
  color: $alert-green;
  font-weight: $font-bold;
  white-space: pre-wrap;
  border: 1px solid $alert-green;
  border-radius: 3px;
  display: inline-block;
}

.form-alerts {
  margin-top: 6px;
  font-size: small;
  color: $alert;
  font-weight: $font-bold;
  white-space: pre-wrap;
}


// Library View
.article-wrapper {
  display: flex;
  flex-flow: row wrap;
  border: none;
}

.article-title {
  width: 100%;
  align-items: left;
  justify-content: left;
  display: block;
  border: none;
}

.container-view {
  justify-content: center;
  border: none;
}

.card {
  margin: 1em 1em 1.8em 0;
  margin-bottom: 1.8em;
  display: flex;
  flex-flow: column nowrap;
}

.card > p {
  border: none;
}

.album-title {
  margin-top: 6px;
  font-size: .67em;
  font-weight: $font-bolder;
  white-space: pre-line;
}

.artist {
  font-size: .65em;
  white-space: pre-line;
}

.album-art {
  height: 10em;
  width: 10em;
  border: none;
  }

// Album Detail View
.detail-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.detail-album-art {
  width: 300px;
  height: 300px;
  border-radius: 3px;
}

.album-detail {
  margin-right: 6em;
  align-self: end;
}

.album-detail > p {
  font-size: larger;
}

.album-detail > p > span {
  width: 250px;
  font-size: small;
  font-weight: $font-weight;
  text-transform: uppercase;
  color: $secondary;
}

.detail-button {
  margin-top: 3em;
}

// Form
.form-p {
  margin-bottom: 2em;
  line-height: .75;
}

.form-wrapper {
  width: 23vh;
  padding: 1.5em;
  display: block;
  border: 1px solid $dark-secondary;
  border-radius: 3px;
}

.form-wrapper > section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  // background-color: #99c270;
}

.formik {
  width: auto;
  margin-bottom: 1em;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.formik input {
  border-radius: 3px;
}

#inCollection {
  width: 2em;
  margin-right: 9px;
  display: inline;
  cursor: pointer;
}

.form-btn {
  align-self: flex-end;
}

// Footer
footer {
  margin-bottom: 3em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: 3em;
  height: 1px;
  background: $dark-secondary;
  border: none;
  background-color: $accent;
}

footer > p {
  width: 85%;
  font-size: .80em;
  text-align: center;
}
